.mainbox{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #c6e7ed 0%, #e8f5f8 30%, #e8f5f8 70%, #c6e7ed 100%);;
}
.bird1 {
    position: absolute;
    left: -100px;
    width: 200px;
    animation: move 5s linear infinite;
    height:100px
}

@keyframes move {
    0% {
        left: -100;
    }

    100% {
        left: 100%;
    }
}

/*sliding imgaes for game*/
.gameimages{
    width: 50%;
    margin: auto;
    height: 359px;
    width: 660px;
    margin-top: 20px;
}

/* Logo for home page */
.logo{
    font-size: 23px;
    font-style: italic;
    color:#156a89;
 padding-top: 12px;
   
}

/*Button to start the game */
.btn{
    background-color: #ff9c00;
    border:2px solid red
}